.contacts {
    padding-bottom: 150px;
    @include mobile(1024px) {
        padding-bottom: 50px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        &-list {
            &__item {
                margin-bottom: 42px;
                @include mobile(1024px) {
                    margin-bottom: 20px;
                }
            }
            &__link {
                display: flex;
                align-items: center;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 171.6%;
                color: $color-white;
                img {
                    margin-right: 20px;
                }
            }
        }
        &-social {
            display: flex;
            margin-top: 20px;
            @include mobile(1024px) {
                margin: 40px 0;
            }
            &__item {
                margin-right: 56px;
            }
        }
        &__description {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 207.6%;
            color: $color-white;
            margin-bottom: 80px;
            @include mobile(1024px) {
                margin-bottom: 40px;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        input,
        textarea {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 207.6%;
            color: $color-white;
            background-color: $color-black;
            color: $color-white;
            width: 100%;
            border: 1px solid $color-white;
            padding: 5px 15px;
        }
        input {
            height: 64px;
            @include mobile(1024px) {
                width: 90%;
            }
        }
        textarea {
            min-height: 140px;
            @include mobile(1024px) {
                width: 90%;
            }
        }
        label {
            position: relative;
            margin-bottom: 30px;
            span {
                position: absolute;
                left: 40px;
                top: 0;
                background-color: $color-black;
                z-index: 1;
                color: $color-white;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                transform: translateY(-50%);
                padding: 0 5px;
            }
        }
        button {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 171.6%;
            color: $background-gray;
            background-color: $color-orange;
            max-width: 200px;
            padding: 10px 0;
        }
    }
}
